In [1]:
%pylab inline

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [3]:
# Importing required libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# Loading the movie data
!ls dataset/

genome-scores.csv  links.csv  movies.csv   README.txt
genome-tags.csv    ml-latest  ratings.csv  tags.csv

In [4]:
# Reading the data

df_movies = pd.read_csv('dataset/movies.csv')
df_links = pd.read_csv('dataset/links.csv')
df_ratings = pd.read_csv('dataset/ratings.csv')
df_genome_tags = pd.read_csv('dataset/genome-tags.csv')
df_genome_scores = pd.read_csv('dataset/genome-scores.csv')

#merging scores and tags.
df_movie_tags_in_text = pd.merge(df_genome_scores, df_genome_tags, on='tagId')[['movieId', 'tag', 'relevance']]

# keep tags with relevnce higher than 0.3
df_movie_tags = df_genome_scores[df_genome_scores.relevance > 0.3][['movieId', 'tagId']]

In [13]:
df_movie_tags

          movieId  tagId
10              1     11
18              1     19
20              1     21
21              1     22
28              1     29
...           ...    ...
14862490   187595   1091
14862491   187595   1092
14862495   187595   1096
14862500   187595   1101
14862513   187595   1114

[1469256 rows x 2 columns]

In [4]:
# Display first movie in df_movies dataframe.
df_movies[df_movies.movieId == 1]

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [11]:
# Looking at some of the tags for the above movie (Toy Story)

df_movie_tags[df_movie_tags['movieId'] == 1].merge(df_genome_tags, on= 'tagId').sample(10)

     movieId  tagId                 tag
155        1    961              spying
105        1    600                life
27         1    204            children
172        1   1040      transformation
89         1    496       heartbreaking
182        1   1104               weird
72         1    417               funny
132        1    776                  pg
179        1   1091  visually appealing
98         1    535         imagination

In [2]:
# Encoding Features Using the tf-idf(text frequency-inverse document frequency)

In [11]:

df_tags_to_movies = pd.merge(df_movie_tags, df_genome_tags, on='tagId', how='left')[['movieId', 'tagId']]
df_tags_to_movies['tagId'] = df_tags_to_movies.tagId.astype(str)
df_tags_to_movies

         movieId tagId
0              1    11
1              1    19
2              1    21
3              1    22
4              1    29
...          ...   ...
1469251   187595  1091
1469252   187595  1092
1469253   187595  1096
1469254   187595  1101
1469255   187595  1114

[1469256 rows x 2 columns]

In [7]:
# Utility function to concateneate tags as one long string
def concatenate_movie_tags(tags):
    str_tags = ' '.join(set(tags))
    return str_tags

In [8]:
df_tags_per_movie = df_tags_to_movies.groupby('movieId')['tagId'].agg(concatenate_movie_tags)
df_tags_per_movie.name = 'movie_tags'
df_tags_per_movie = df_tags_per_movie.reset_index()

In [9]:
df_tags_per_movie[df_tags_per_movie['movieId'] == 1]

   movieId                                         movie_tags
0        1  138 536 719 969 128 364 49 497 415 1040 334 45...

In [6]:
df_avg_ratings  = df_ratings.groupby('movieId')['rating'].agg(['mean', 'median', 'size'])
df_avg_ratings.columns = ['rating_mean', 'rating_median', 'num_ratingsdf_tags_per_movie']
df_avg_ratings = df_avg_ratings.reset_index()
df_avg_ratings

       movieId  rating_mean  rating_median  num_ratingsdf_tags_per_movie
0            1     3.886649           4.00                         68469
1            2     3.246583           3.00                         27143
2            3     3.173981           3.00                         15585
3            4     2.874540           3.00                          2989
4            5     3.077291           3.00                         15474
...        ...          ...            ...                           ...
53884   193876     3.000000           3.00                             1
53885   193878     2.000000           2.00                             1
53886   193880     2.000000           2.00                             1
53887   193882     2.000000           2.00                             1
53888   193886     3.250000           3.25                             2

[53889 rows x 4 columns]

In [11]:
df_movies_with_ratings = pd.merge(df_movies, df_avg_ratings, how='left', on='movieId')

In [12]:
df_data = pd.merge(df_movies_with_ratings, df_tags_per_movie, how='left', on='movieId')

In [13]:
df_data_with_tags = df_data[~df_data.movie_tags.isnull()].reset_index(drop=True)

In [14]:
##TF_IDF vectors

In [16]:
tf_idf = TfidfVectorizer()

In [17]:
df_movies_tf_idf_described = tf_idf.fit_transform(df_data_with_tags.movie_tags)

:

: