In [1]:
%pylab inline

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [7]:
# Importing required libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [8]:
# Loading the movie data
!ls dataset/

genome-scores.csv  links.csv  movies.csv   README.txt
genome-tags.csv    ml-latest  ratings.csv  tags.csv

In [9]:
# Reading the data

df_movies = pd.read_csv('dataset/movies.csv')
df_links = pd.read_csv('dataset/links.csv')
df_ratings = pd.read_csv('dataset/ratings.csv')
df_genome_tags = pd.read_csv('dataset/genome-tags.csv')
df_genome_scores = pd.read_csv('dataset/genome-scores.csv')

#merging scores and tags.
df_movie_tags_in_text = pd.merge(df_genome_scores, df_genome_tags, on='tagId')[['movieId', 'tag', 'relevance']]

# keep tags with relevnce higher than 0.3
df_movie_tags = df_genome_scores[df_genome_scores.relevance > 0.3][['movieId', 'tagId']]

In [10]:
# Display first movie in df_movies dataframe.
df_movies[df_movies.movieId == 1]

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [11]:
# Looking at some of the tags for the above movie (Toy Story)

df_movie_tags[df_movie_tags['movieId'] == 1].merge(df_genome_tags, on= 'tagId').sample(10)

     movieId  tagId                 tag
155        1    961              spying
105        1    600                life
27         1    204            children
172        1   1040      transformation
89         1    496       heartbreaking
182        1   1104               weird
72         1    417               funny
132        1    776                  pg
179        1   1091  visually appealing
98         1    535         imagination